config.stopBubbling = true
lombok.singular.useGuava=true
lombok.data.flagUsage=error
lombok.value.flagUsage=error
lombok.val.flagUsage=error
lombok.var.flagUsage=error
lombok.nonNull.flagUsage=error
lombok.cleanup.flagUsage=error
lombok.sneakyThrows.flagUsage=error
lombok.synchronized.flagUsage=error
lombok.log.apacheCommons.flagUsage=error
lombok.log.fieldIsStatic=true
lombok.log.log4j.flagUsage=error
lombok.log.log4j2.flagUsage=error
lombok.log.xslf4j.flagUsage=error
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier